<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="G:\Documents\VisualStudio2012_Projects\wcf_test\WindowsFormsApplication1\WindowsFormsApplication1\App_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="G:\Documents\VisualStudio2012_Projects\wcf_test\WindowsFormsApplication1\WindowsFormsApplication1\App_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  
    <!--<system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHddInfo" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:12345/HddInfo" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IHddInfo" contract="ServiceReference1.IHddInfo"
                name="NetTcpBinding_IHddInfo">
                <identity>
                    <userPrincipalName value="Alexander-ПК\Alexander" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>-->
</configuration>